$blueColor: #1b3764;
$blueColorhover: #698ec9;
$blueColor: #1b3764;
$colorYLLW: #ffca42;
$colorActive: #fbb505;
$colornoActive: #ffffff;
$color_1: #fff;
$color_2: #191a30;
$color_txt_1: #969aa0;
$color_txt_2: #b4c7e7;
$background-color_1: #fff;
$background-color_2: #4870af;
$background-color_3: #f4f8ff;
$zindex-main-menu: 1;
$zindex-modal: 10;
$borderbt_1px: 1px solid white;
$font-main: "Inter", sans-serif;
$font-heading: "Cardo", serif;

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1100px;
$breakpoint_md: 768px;
$breakpoint_sm: 600px;
$breakpoint_vsm: 500px;
